.section{
    margin-top: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1vw 1vw 5vw rgb(71,69,69);
    border-radius: 3vw;
    background-color: rgb(0, 183, 255);/*228,106,62*/
}
.image{
    width: 20vw;
    animation: rotate 1s infinite;
}
/* .image:hover{
    animation: rotate infinite;
} */

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}