.section{
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 1vw 1vw 5vw rgb(71,69,69);
    border-radius: 3vw;
    background-color: rgb(0, 183, 255);/*228,106,62*/
}
.images{
    display: flex;
}
.image{
    height: 25vw;
    width: 15vw;
}
.image:hover{
    animation: shake 0.4s;
}
@keyframes shake{
    0%{transform: rotate(0deg);}
    10%{transform: rotate(10deg);}
    20%{transform: rotate(0deg);}
    30%{transform: rotate(-10deg);}
    40%{transform: rotate(0deg);}
    50%{transform: rotate(10deg);}
    60%{transform: rotate(0deg);}
    70%{transform: rotate(-10deg);}
    80%{transform: rotate(0deg);}
    90%{transform: rotate(10deg);}
    100%{transform: rotate(0deg);}
}
.button{
    height: 5vw;
    width: 15vw;
    border-radius: 3vw;
    background:transparent;
    color: white;
    border: 1px solid white;
    margin: 0 43%;
    margin-top: 1.5vw;
    font-size: 1.8vw;
    transition: background-color 0.5s;
}
.button:hover{
    background-color: rgb(0, 183, 255);
}